@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customised Styles */
.backgroundImage {
  background-image: url("https://res.cloudinary.com/dy1vmspui/image/upload/v1681561591/background_gryyxz.png");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
